/* this is an example of class selector */
.sub-heading {
    color: red;
    background-color: gold;
    /* display: inline; */
}

h1 {
    font-size: 60px;
    background-color: brown;
    /* display: inline; */
}

.text {
  /* display: block; */
  background-color: red;
  display: inline;
}

.link {
    background-color: orange;
    color: black;
    /* display: inline; */
    display: block;
}

.content {
  color: green;
  /* background-color: red; */
}

.wrapper {
  background-color: lightpink;
}

.important {
  background-color: lightgray;
  color: red;
  font-size: 30px;
}

.text-group {
  background-color: lightgreen;
}

.links {
  background-color: black;
}