/* this is an example of class selector */
.sub-heading {
    color: red;
    background-color: gold;
}

body {
    background-color: gray;
}

/* h1 {
    color: red;
    background-color: brown;
} */

.header {
  font-size: 60px;
    background-color: brown;
}

.paragraph {
    background-color: yellow;
    text-align: center;
}

.blue {
  color: blue;
}

.text {
    color: purple;
    background-color: pink;
}

.content {
    background-color: black;
}

/* a {

} */

.link {
    background-color: orange;
    color: black;
}

#last-paragraph {
    background-color: white;
}

/* #last {

}

#paragraph {

} */

#text {
  background-color: white;
}
